body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    font-size: 16px;
    margin: o;
    padding: 0;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid chocolate;
    margin: 0 auto;
}

#container h1
{
   font-size: 20px; 
}

#post
{

}